<section id='aboutcoach'>
  <div class="row">
    <%=raw @page.content_for(:coach) %>
  </div>
</section>
</br>
<div class="row">
  <ul class="clearing-thumbs small-block-grid-4" data-clearing>
    <li><%= image_tag("cover1.jpg") %></li>


  </ul>
</div>
<section id='aboutteam'>
  <div class="row">
    <%=raw @page.content_for(:team) %>
  </div>
</section>
