<!-- services main page -->

<div id="servicesect">
  <div class="small-3 small-centered columns">
    <h1>課程訓練</h1>
    <i class="fa fa-compass fa-2x"></i>  
  </div>

  </br>
  </br>

  <div class="row">
    <div class="medium-4 columns" style="text-align:center;">
      <h2>溯溪課程</h2>
      <a href="/課程訓練/溯溪課程"><img src="/courses/rtcourse.jpg"/></a>
      <p>地形判斷～要利用何種方式突破困難地形，實地演練增加經驗。</p>
    </div>

    <div class="medium-4 columns" style="text-align:center;">
      <h2>攀岩課程</h2>
      <a href="/課程訓練/攀岩課程"><img src="/courses/rccourse.jpg"/></a>
      <p>雖然訓練課程一點都不能馬虎，但偷偷看一下遼闊的大海，這正是在龍洞上攀岩課的最大享受呀！</p>
    </div>

    <div class="medium-4 columns" style="text-align:center;">
      <h2>冰雪攀登</h2>
      <a href="/課程訓練/冰雪攀登"><img src="/courses/iccourse.jpg"/></a>
      <p>安全確保～是雪地訓練最重要的事！</p>
    </div>
  </div>


  <div class="row">

    <div class="medium-4 columns" style="text-align:center;">
      <h2>攀樹課程</h2>
      <a href="/課程訓練/攀樹課程"><img src="/courses/tccourse.jpg"/></a>
      <p>攀樹技術與設備在應用之前，應該接受專業人員的指導，並精熟技術之後，方可實際操作。</p>
    </div>

    <div class="medium-4 columns" style="text-align:center;">
      <h2>海外攀登</h2>
      <a href="/課程訓練/海外攀登"><img src="/courses/overseas.jpg"/></a>
      <p>神山特殊的地質，讓無數的攀岩者也想來試試自己的膽量與技術。</p>
    </div>


  </div>
</div>
</hr>

<!-- Services Section End-->
