<!-- services main page -->

<div id="servicesect">
  <div class="small-3 small-centered columns">
    <h1>活動體驗</h1>
    <i class="fa fa-compass fa-2x"></i>  
  </div>

  </br>
  </br>

  <div class="row">
    <div class="medium-4 columns" style="text-align:center;">
      <h2>溯溪體驗</h2>
      <a href="/活動體驗/溯溪體驗"><img src="/services/rivertrace.jpg"/></a>
      <p>夏天!就是要玩水~</p>
    </div>

    <div class="medium-4 columns" style="text-align:center;">
      <h2>攀岩體驗</h2>
      <a href="/活動體驗/攀岩體驗"><img src="/services/rockclimb.jpg"/></a>
      <p>膽大心細，攀岩一點都不難！</p>
    </div>

    <div class="medium-4 columns" style="text-align:center;">
      <h2>高空滑降</h2>
      <a href="/活動體驗/高空滑降"><img src="/services/zipline.jpg"/></a>
      <p>啊~啊~啊~~把你的所有恐懼吶喊出來吧!!</p>
    </div>
  </div>


  <div class="row">

    <div class="medium-4 columns" style="text-align:center;">
      <h2>攀樹體驗</h2>
      <a href="/活動體驗/攀樹體驗"><img src="/services/treeclimb.jpg"/></a>
      <p>在不同的高度，有不同的視野，不同的心情喔～</p>
    </div>

    <div class="medium-4 columns" style="text-align:center;">
      <h2>綜合登山</h2>
      <a href="/活動體驗/綜合登山"><img src="/services/mtclimb.jpg"/></a>
      <p>放眼望去，連綿到天邊的雲海，這只能要親眼見到才能明白的感動。</p>
    </div>

    <div class="medium-4 columns" style="text-align:center;">
      <h2>大海浮潛</h2>
      <a href="/活動體驗/大海浮潛"><img src="/services/snorkel.jpg"/></a>
      <p>跟美麗的熱帶魚～零距離的接觸喔！</p>
    </div>

  </div>
</div>
</hr>

<!-- Services Section End-->
