<!-- end Image Slider -->
<section id='image_slider'>
  <div class="img">
    <%=raw @page.content_for(:image_slider) %>
  </div>
</section>

<!-- end Image Slider -->
<div class="panel">
<div class="row" data-equalizer>
  <div class="small-4 columns">
    <div class="panel" data-equalizer-watch>
      <h1>最新消息</h1>
    </div>
  </div>

  <div class="small-8 columns">
    <div class="panel" data-equalizer-watch>
      <%=raw @page.content_for(:body) %>
    </div>
  </div>
</div>
</div>
