<!-- end Image Slider -->
<section id='image_slider'>
  <div class="img">
    <%=raw @page.content_for(:image_slider) %>
  </div>
</section>

<!-- end Image Slider -->

<hr/>
<div class="row" data-equalizer>
<div class="small-6 columns">
<div class="panel" data-equalizer-watch>
    <dd class="accordion-navigation">
    <%=raw @page.content_for(:body) %>
    </dd>    
</div>
</div>

</hr>
<div class="small-6 columns">
<div class="panel" data-equalizer-watch>
  <%=raw @page.content_for(:side_body) %>
  </div>
</div>
</div>
