<div class="row center">
<p>
<strong>我們的理念</strong>OUR BELIEFS<br/>
<strong>冒險</strong> 是在一個陌生的環境中，進行一項不熟悉的活動。 
<strong>學校</strong> 是希望通過體驗、引導、教育啟蒙，在做好充分的安全準備下出發。

</p>
</div>


<div>

<p>
  <%= t('.copyright', :year => Time.now.year,
                      :site_name => Refinery::Core.site_name) %>
</p>


</div>
