<div class="contain-to-grid sticky">
  <nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large">
    <ul class="title-area">
      <div id="logo">
        <img src="logo.png" style="height: 100px; width:auto;">
      </div>
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section" id="menu">
      <%= zurb_menu(refinery_menu_pages, list_tag_css: 'right').to_html %>
    </section>
  </nav>
</div>
